<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test thread-count="1" name="Test1">
  <classes><class name="orgHRMassesment.orangetest"></class></classes>
  </test> <!-- Test -->
  
  <test name="Test2">
  <classes><class name="orgHRMassesment.orglogin"></class></classes>
  </test>
  
</suite> <!-- Suite -->

